<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Gateway</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .btn-pay-now {
            background-color: #28a745;
            border-color: #28a745;
            color: white;
        }
    </style>
</head>

<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">

                        <h2 class="text-center mb-4">Payment Gateway</h2>

                        <form id="paymentForm" action="/upload" method="POST">
                            <div id="billingDetails">
                                <h3 class="mb-3">Billing Details</h3>
                                <p>User Name: <span id="userName">{{ data.name }}</span></p>
                                <p>Cost: Rs.<span id="cost">{{ cost }}</span></p>
                            </div>

                            <div id="paymentOptions">
                                <h3 class="mb-3">Payment Options</h3>
                                <div class="form-group">
                                    <label for="paymentMethod">Select Payment Method:</label>
                                    <select class="form-control" id="paymentMethod" name="paymentMethod">
                                        <option value="creditCard">Credit Card</option>
                                        <option value="debitCard">Debit Card</option>
                                        <option value="upi">UPI</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-pay-now btn-block mb-3">Pay Now</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>